html {
  --primary-color:#4E8397;
  --secondary-color: #FFFFFF  ;
  --text-primary-color: #c0c5ce;
  --text-secondary-color:#65737e;
}

body{
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

figure,
img{
  max-width: 100%;
}
footer{
  background-color: var(--secondary-color);
}

h2, .fab{
  font-size: 1.8em;
  padding: .25em;
  margin: 0;
  text-align: center;
  color:var(--primary-color)
}
header{
display: table;
width: 100%;
    margin: 0 auto;
    padding: .2em 4em;
    vertical-align: middle;
box-sizing: border-box;
background-color: var(--secondary-color);
}

header h1{
  color:var(--primary-color);
  font-size: 2em;
  padding: .2em;
  margin: 1rem;
  float: left;
  }

header nav ul{
font-size: 1em;
padding: .5em 1em;
list-style-type: none;
display: flex;
float: right;
margin:0;
}

li a{
  font-size: .5em;
  margin: .5rem 1rem;
}

p{
  margin:0 0;
  padding: 1rem .4rem;
  text-align: center;
}
.align-center{
align-items: center;
}

.button{
  border-radius: 3px;
  padding:0.5rem;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 35px;

}

.button a{
  text-decoration: none;
  color: var(--text-primary-color);
}

.button--circle{
  border-radius: 70%;
  height: 10rem;
}

.button:focus,
.button:hover{
background: whitesmoke;
transition: background 1s;
}

.flex{
  display: flex;
  padding: 1rem 2rem;
}

.flex figure img{
  height: 40vh;
  width: 80vw;
  padding: 0;
  margin: 0 .5rem;
}

.flex--wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}
.quiz button{
  padding:.5rem;
}

.quiz input{
padding: 2px px;
margin: 0px
}

.quiz label{
  padding: 2px 60px;
}

.resources label{
  align-content: space-between;
}

#mental-health-awareness{
  background: url(https://i.pinimg.com/originals/28/39/af/2839aff2b83bb7f66605b02edf763ab2.jpg)
  top center
    no-repeat;
  background-size: cover;
  height: 85vh;
  width: 100vw;
}


#quiz-picture {
  background: url(https://assets.teenvogue.com/photos/5c1963245086104dad4475b7/16:9/w_2560%2Cc_limit/GettyImages-862457080.jpg)
  top center
    no-repeat;
  background-size: cover;
  height:50vh;
  width: 100vw;
}

#resources-pics{
  background:url(https://media.gettyimages.com/photos/women-laughing-together-on-urban-rooftop-picture-id482150715)
  top center
    no-repeat;
background-size: cover;
  height: 50vh;
  width: 50vw;;
}

#yes{
  padding: 0rem;
  margin: 0rem;
}










